@import 'variables.scss';

.chart__container {
  width: 100%;
  height: 90%;
  min-height: 213px;
  position: relative;
  background-color: $background-block;
  border: 2px solid $border-color;
  border-bottom: 2px solid $background-block;
}

#chart {
  background-color: $background-block;
  cursor: pointer;
}

.scroll {

  &__container {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div {
      text-align: center;
    }
  }

  &__left-arrow {
    width: 5%;
    background-color: red;
    cursor: pointer;

    & img {
      
    }
  }

  &__right-arrow {
    width: 5%;
    background-color: red;
    cursor: pointer;

    & img {
      transform: rotate(180deg);
    }
  }

  &__nav {
    width: 90%;
    overflow: hidden;
    border: 2px solid $background-block;
    border-bottom: 2px solid $border-color;
  }

  &__track {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
    transition: all .3s;

    & div {
      // min-width: 33.3%;
      font-size: .875rem;
      line-height: 1.5;
      text-align: center;
      background-color: $background-block;
      box-sizing: border-box;
      cursor: pointer;
    }

    & .active {
      opacity: .7;
      // border-bottom: 2px solid #2493F2;
    }
  }
}

.bnt-full-screen__container {
  width: 25px;
  height: 25px;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: $background-block;

  &.active {
    display: flex;
  }

  & img,
  & div {
    height: 15px;
    width: 15px;
    background-color: transparent;
    background-image: url('../images/fullScreenBtn.svg');
  }
}

.modal {
  width: 80%;
  height: 80%;
  position: fixed;
  z-index: 11;
  
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $background-color;
    transition: all .3s linear;
    z-index: 10;
  
    &.active {
      display: block;
      opacity: .6;
    }
  }
}
