@import 'variables.scss';

.chart__container {
  width: 100%;
  height: 90%;
  position: relative;
  background-color: $background-block;
  border: 1px solid $border-color;
}

#chart {
  background-color: $background-block;
}

.scroll {

  &__container {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div {
      text-align: center;
    }
  }

  &__left-arrow {
    width: 5%;
    background-color: red;

    & img {
      
    }
  }

  &__right-arrow {
    width: 5%;
    background-color: red;

    & img {
      transform: rotate(180deg);
    }
  }

  &__nav {
    width: 90%;
    overflow: hidden;
  }

  &__track {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all .3s;

    & div {
      // min-width: 33.3%;
      font-size: .875rem;
      line-height: 1.5;
      text-align: center;
      background-color: $background-block;
      border: 1px solid $border-color;
    }

    & .active {
      opacity: .7;
    }
  }
  
}