@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@import 'variables';
@import 'scaffolding';
@import 'main';

@import './scroll';
@import './loader';

